[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

Django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
djangorestframework = "*"
Markdown = "*"
"django-filter" = "*"
coreapi = "*"
djoser = "*"
"json-logging-py" = "*"

[requires]
python_version = "3.6"