[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

django = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
markdown = "*"
"django-filter" = "*"
djoser = "*"
"json-logging-py" = "*"

[requires]
python_version = "3.6"
